#game {
  background-image: url("../assets/images/BG.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  --dy: 1;
  --dx: 1;
  --dz: 0;
}

#timer {
  color: var(--main-red);
  font-family: Valorant;
  font-size: 32px;
  border-top: 3px solid var(--main-red);
  border-bottom: 3px solid var(--main-red);
  padding: 8px 0;
  float: right;
  width: 150px;
  text-align: center;
  margin-right: 260px;
  margin-top: 64px;
}

#game-area {
  display: flex;
  font-family: Valorant;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 200px;
  left: 200px;
}

#game-area h3 {
  font-size: 32px;
  color: var(--main-red);
  text-align: center;
  border: 3.2px solid var(--main-red);
  width: 284px;
  height: 64px;
  padding-top: 16px;
  margin-bottom: 24px;
  backdrop-filter: blur(5px);
  box-shadow: 10px 10px var(--main-black);
}

.turn {
  background-color: var(--main-red);
  color: var(--white) !important;
  border: 3.2px solid var(--white) !important;
  box-shadow: 10px 10px var(--main-black);
}

.card-area {
  width: 285px;
  height: 480px;
  background-color: var(--main-black);
  border: 4px solid var(--main-red);
  margin-bottom: 24px;
}

#game-area span {
  font-size: 32px;
  color: var(--main-red);
  text-align: center;
  border: 3.2px solid var(--main-red);
  padding: 8px 24px;
}

.info-cards span {
  backdrop-filter: blur(5px);
  box-shadow: 10px 10px var(--main-black);
}

.info-cards {
  display: flex;
  justify-content: space-between;
}

#game-area h1 {
  font-size: 48px;
  color: var(--white);
  display: inline-block;
}

#game-area img {
  width: 44px;
  height: 44px;
  margin: 0px 16px;
}

#game-area a {
  display: block;
  text-decoration: none;
  color: var(--white);
  font-size: 32px;
  text-align: center;
  margin-top: 64px;
  z-index: 1;
}

#game-area a:hover {
  color: var(--main-red);
  text-shadow: 2px 2px var(--main-black);
}

#input {
  display: none;
  background-color: var(--white);
  backdrop-filter: blur(5px);
  width: 763px;
  height: 247px;
  padding: 16px;
  position: absolute;
  z-index: 1;
  top: 25%;
  left: 20%;
  box-shadow: 10px 10px var(--main-black);
}

#input-area {
  border: 3px solid var(--main-red);
  height: 215px;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

#input-header {
  background-color: var(--main-red);
  width: 699px;
  height: 48px;
  padding: 16px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#input-header h3 {
  font-family: Valorant;
  font-size: 24px;
  margin-left: 16px;
}

#input-header span {
  background-color: unset;
  margin-right: 16px;
  cursor: pointer;
}

#input-header img {
  width: 16px;
  height: 16px;
}

#input input {
  align-self: center;
  width: 642px;
  height: 60px;
  background-color: unset;
  border: 1.2px solid var(--main-red);
  margin-top: 24px;
  font-size: 24px;
  font-family: JetBrainsMono-Bold;
  padding-left: 16px;
  color: var(--main-red);
}

#input a {
  color: var(--main-black);
  font-size: 24px;
  font-family: JetBrainsMono-Bold;
  text-decoration: none;
  margin-top: 16px;
  text-align: end;
  display: inline-block;
  margin-right: 32px;
}

#input a:hover {
  color: var(--main-red);
}

/* Begin card style */
.card-flip-player,
.card-flip-cpu {
  border: 7.2px solid var(--white) !important;
  border-radius: 16px !important;
  width: 285px;
  height: 480px;
  position: absolute;
  top: 0px;
  box-shadow: 10px 10px var(--main-black-blur);
}

.card-flip-player {
  left: 0px;
  cursor: pointer;
  transform: perspective(525px) translateZ(0) rotateX(var(--dx))
    rotateY(var(--dy));
  transition: all 150ms linear 0s;
  overflow: visible;
}

.card-flip-cpu {
  right: 0px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.card-flip-player-fliped .card-inner,
.card-flip-cpu-fliped .card-inner {
  transform: rotateY(180deg);
}

.card-player,
.card-cpu,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  transform-style: preserve-3d;
  border-radius: 8px !important;
}

.card-back {
  transform: rotateY(180deg);
}

.card-info {
  background: rgb(27, 29, 32);
  background: linear-gradient(
    0deg,
    rgba(27, 29, 32, 1) 0%,
    rgba(45, 45, 48, 1) 15%,
    rgba(32, 56, 61, 0) 100%
  );
  position: absolute;
  padding: 8px;
  display: block;
  width: 100%;
  bottom: 0;
  border-radius: 8px !important;
}

.card-info .name {
  font-size: 24px !important;
  font-family: Valorant !important;
  color: var(--white) !important;
  display: inline-block;
  border: none !important;
}

.class {
  width: 24px !important;
  height: 24px !important;
  float: right !important;
  margin-top: 8px !important;
}

.skill-player,
.skill-cpu {
  display: flex;
  justify-content: space-between;
}

.skill-player span,
.skill-cpu span {
  font-size: 20px !important;
  font-family: Valorant !important;
  color: var(--white) !important;
  text-align: center;
  border: none !important;
}

.skill-player span:hover {
  color: var(--main-red) !important;
  text-shadow: 2px 2px var(--main-black);
  cursor: pointer;
}

.info-player,
.info-cpu {
  height: 24px !important;
  width: 24px !important;
  float: right;
  margin-top: 16px !important;
  cursor: pointer;
  position: absolute;
  right: 0;
}

.remove-player-left {
  rotate: -30deg;
  left: -1400px;
  transition: rotate 2s ease, left 1s ease-out;
}

.remove-player-right {
  rotate: 30deg;
  left: 1400px;
  transition: rotate 2s ease, left 1s ease-out;
}

.remove-cpu-left {
  rotate: -30deg;
  right: 1400px;
  transition: rotate 2s ease, right 1s ease-out;
}

.remove-cpu-right {
  rotate: 30deg;
  right: -1400px;
  transition: rotate 2s ease, right 1s ease-out;
}

#modal-card {
  display: none;
  width: 364px;
  height: fit-content;
  padding: 16px;
  position: absolute;
  z-index: 1;
  top: 25%;
  left: 37%;
  background-color: var(--main-black-blur);
  backdrop-filter: blur(5px);
  box-shadow: 10px 10px var(--main-black);
}

#modal-card-area {
  border: 3px solid var(--main-red);
  height: fit-content;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

#modal-card-header {
  background-color: var(--main-red);
  width: 300px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#modal-card-header h3 {
  font-family: Valorant;
  font-size: 24px;
  margin-left: 16px;
}

#modal-card-content {
  color: var(--white);
  font-family: JetBrainsMono-Bold;
  width: 100%;
  height: 100%;
  padding-top: 16px;
}

.card-avatar {
  width: auto !important;
  height: auto !important;
  position: absolute;
  bottom: 0;
  left: -50%;
  transition: all 0.5s ease-in-out;
}

.card-avatar:hover {
  width: auto !important;
  height: auto !important;
  position: absolute;
  bottom: 2px;
  left: -45%;
}

/* End card style */
