#bg {
  background-image: url("../assets/images/BG\ valorant.gif");
  filter: blur(5px);
  -webkit-filter: blur(5px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  max-width: 1440px;
  position: absolute;
  top: 0;
}

#home {
  background-color: rgba(33, 38, 45, 0.3);
  height: 100vh;
  width: 100%;
  position: relative;
  overflow-y: hidden;
}

#menu {
  display: flex;
  padding: 16px 0;
  height: 70px;
  justify-content: space-between;
  border-bottom: 1px solid var(--main-black);
  background-color: rgba(33, 38, 45, 0.3);
}

#menu ul {
  display: flex;
  list-style: none;
  justify-content: end;
  margin-right: 141px;
}

#menu li {
  margin-right: 24px;
}

#menu a {
  display: flex;
  align-items: center;
  font-family: JetBrainsMono-Bold;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--main-red);
  cursor: pointer;
}

#menu span {
  width: 0px;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

#menu a:hover > span {
  width: auto;
  opacity: 1;
  text-shadow: 2px 2px var(--main-black);
}

#menu img {
  margin-right: 8px;
  height: 32px;
  width: 32px;
}

#play-now {
  text-decoration: none;
  font-family: JetBrainsMono-Bold;
  text-align: center;
  color: var(--white) !important;
  cursor: pointer;
  margin-left: 141px;
}

#play-now:hover {
  transition: ease-in 0.2s;
  color: var(--main-red) !important;
  text-shadow: 2px 2px var(--main-black) !important;
}

#titles {
  margin-top: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#titles h1 {
  height: fit-content;
  margin-right: 18px;
  padding-top: 28px;
  font-family: Valorant;
  font-weight: normal;
  color: var(--white);
  font-size: 166px;
}

#titles h2 {
  font-family: JetBrainsMono-ExtraBold;
  font-size: 36px;
  font-weight: normal;
  color: var(--main-red);
  z-index: 1;
  width: 100px;
}

#characters {
  height: 670px;
  overflow: hidden;
  position: relative;
  top: -170px;
}

.char-1,
.char-2 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  opacity: 0;
  transition: opacity 2s ease, transform 2s ease;
}

.char-1.loaded,
.char-2.loaded {
  opacity: 1;
  height: 700px;
  width: 600px;
}

.char-1 {
  left: 150px;
  margin-left: 28px;
}

.char-2 {
  right: 150px;
  margin-right: 28px;
}

#modal {
  display: block;
  width: 763px;
  height: 504px;
  padding: 16px;
  position: absolute;
  z-index: 1;
  top: -100%;
  left: 20%;
  background-color: var(--main-black-blur);
  backdrop-filter: blur(5px);
  box-shadow: 10px 10px var(--main-black);
  transition: top 0.5s ease-in-out;
}

#modal-area {
  border: 3px solid var(--main-red);
  height: 472px;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

#modal-header {
  background-color: var(--main-red);
  width: 699px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#modal-header h3 {
  font-family: Valorant;
  font-size: 24px;
  margin-left: 16px;
}

#modal-header span {
  background-color: unset;
  margin-right: 16px;
  cursor: pointer;
}

#modal-header img {
  width: 16px;
  height: 16px;
}

#modal-content {
  border: 2px solid var(--main-red);
  width: 699px;
  height: 376px;
  margin-top: 16px;
  overflow-y: auto;
  color: var(--white);
  font-family: JetBrainsMono-Bold;
  padding: 16px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--main-black-blur);
}

::-webkit-scrollbar-thumb {
  background: var(--main-red);
}

#leaderItem {
  margin: 16px 8px;
  width: 642px;
  height: 60px;
  border: 1px solid var(--main-red);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--main-red);
}

#leaderItem span {
  font-size: 16px;
  font-family: JetBrainsMono-Bold;
  text-transform: uppercase;
  padding: 0 16px;
}

#leaderItem:hover {
  border: 3.2px solid var(--white);
  background-color: var(--main-red);
  color: var(--main-black);
}
