* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --main-red: #ff4655;
  --main-black: #1b1d20;
  --main-black-blur: rgba(33, 38, 45, 0.9);
}

@font-face {
  font-family: JetBrainsMono-Bold;
  src: url("../assets/fonts/JetBrainsMono-Bold.ttf");
}

@font-face {
  font-family: JetBrainsMono-ExtraBold;
  src: url("../assets/fonts/JetBrainsMono-ExtraBold.ttf");
}

@font-face {
  font-family: JetBrainsMonoNL-Bold;
  src: url("../assets/fonts/JetBrainsMonoNL-Bold.ttf");
}

@font-face {
  font-family: JetBrainsMonoNL-ExtraBold;
  src: url("../assets/fonts/JetBrainsMonoNL-ExtraBold.ttf");
}

@font-face {
  font-family: Valorant;
  src: url("../assets/fonts/Valorant\ Font.ttf");
}

body {
  background-color: var(--main-black);
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  animation: content_reveal 0.6s ease;
}
